version: "3.8"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: k_group_practicum_team3_development
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
