<div class="event-form-page">
  <h1 class="event-form-title">Create New Event</h1>

  <%= render "form", event: @event %>

  <div class="event-form-links">
    <%= link_to "Back to events", events_path, class: "link" %>
  </div>
</div>