<div class="page">
  <h1>Create Event</h1>

  <%= form_with url: events_path, method: :post, class: "event-form" do %>
    <div class="form-group">
      <label for="title">Event Title:</label>
      <input
        type="text"
        name="title"
        id="title"
        placeholder="enter title"
        required
      >
      <label for="title">Event Location:</label>
      <input
        type="text"
        name="title"
        id="title"
        placeholder="enter location"
        required
      >
    </div>

    <div class="form-actions">
      <button type="submit">Create Event</button>
    </div>
    <%= notice %>

  <% end %>
</div>
